<div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#transactionsDefault">History</a>
        <a href="#data">Expenses Data</a>
        <a href="#categories">Categories</a>
        <a onclick = "logout()">Logout</a>
    </div>
    <div>
        
        <span class = "fas fa-bars " onclick="openNav()"></span>
        
        <div>

            <div class="">
                <a class="btn btn-default btn-block custom" style="font-weight: bold; font-size: large">FinanciX</a>
            </div>

            <div class = "" id = "separator-bot">
                <a class="btn btn-default btn-block custom-centered-text" style=" font-size: large">Categories</a>
            </div>

        </div>
        <div class="dropdown">
            {{#.}}
            <div class = "btn-group dropdown" >

                <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{category}}
                </button>
                <br>

                <div class="dropdown-menu custom" id = 'box-color' aria-labelledby="dropdownMenu1">
                    {{#subcategories}}
                    <a class = "dropdown-item custom" onclick ="clickSubcategory('{{category}}','{{name}}')">{{name}}</a>
                    <br>
                    {{/subcategories}}
                    <a class="divider"></a>

                    <a class = " custom-newsub" onclick = "Stockmother('{{category}}')" href = "#newsubcategory" id = "black-color">New subcategory</a>
                    <br>
                    <a class = " custom-newsub" onclick = "removeCategory_1('{{category}}')" id = "black-color" >Remove category</a>
                </div>

            </div>
            <br>
            {{/.}}

            <div class = "btn-group dropdown custom" data-target = "#NewCategory">
                <div>
                    <a class = "centered-text" href="#newcategory">Create new category</a>
                    <br>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>