<div>
    <div class="list-group mon-menu">
            <a href="" class="list-group-item list-group-item-info">
                <i class="fas fa-user img_text-top"></i>
                <span class="list-group-item-heading span-new" onclick = "logout()">Logout</span>
            </a>
            <a href="" class="list-group-item list-group-item-info">
                <i class="fas fa-bell fa-camera img_text-top"></i>
                <span class="list-group-item-heading span-new">Alerts</span>
            </a>
            <a href="" class="list-group-item list-group-item-info">
                <i class="fas fa-question-circle fa-user img_text-top"></i>
                <span class="list-group-item-heading span-new">Help</span>
            </a>
        </div>
</div>