<div>

    <script> showDayOptions(); StockChoosedWallet();</script>

    <div>

        <div class="mobile-wrapper">

            <span class="control-label col-sm-2" id = 'income-color' >Date</span>
            <div class="col-sm-9">
                <select id ="monthchoosed" onchange="StockChoosedMonth(); showDayOptions();">
                    <option value=""></option>
                    {{#month}}
                    <option value="{{name}}"  {{selected}}>{{name}}</option>
                    {{/month}}
                </select>
                <select id="dayoptions" onchange="StockChoosedDay();">
                </select>

                <select id ="yearchoosed" onchange="StockChoosedYear();">
                    <option value=""></option>
                    {{#year}}
                    <option value="{{name}}" {{selected}}>{{name}}</option>
                    {{/year}}
                </select>
            </div>

            <br>
            <label class="control-label col-sm-2" id = 'income-color' for="user">Subcategory</label>
            <div class="col-sm-9">
                <select id ="subcategorychoosed" onchange="StockChoosedSubCategory();">
                    <option></option>
                    {{#subcategories}}
                    <option value="{{name}}">{{name}}</option>
                    {{/subcategories}}
                </select>
            </div>


            <br>
            <label class="control-label col-sm-2" id = 'income-color' for="user">Account</label>
            <div class="col-sm-9">
                <select id ="walletchoosed" onchange="StockChoosedWallet();">
                    {{#wallets}}
                    <option value="{{name}}" >{{name}}</option>
                    {{/wallets}}
                </select>
            </div>

            <br>
            <div>
                <span id = 'income-color' class="control-label col-sm-2" >Description</span>
                </br>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="" id="description">
                    </div>
                </div>
            </div>

            <br>
            <div>
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <button type="submit" id = 'income-color' class="btn btn-default btn-block fas fa-check" onclick ="addTransaction(getvalue(), getcategory(), getsubcategory(), getDay(), getMonth(), getYear(), getDescription(), '1', getAccount()); window.location.href = '#' " style="font-size: large"></button>
                </div>
                <div class="col-sm-1"></div>
            </div>   

        </div>

    </div>

</div>