<div id = "login">
    <form class="form-horizontal" action="index.html">

        <div class="">
            <a class="btn btn-default btn-block custom" style="font-weight: bold; font-size: large">FinanciX</a>
        </div>

        <div class="form-group col-sm-12">
            <label class="control-label col-sm-2" id = "default-blue" for="user">Login</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Login" id="username"/>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="control-label col-sm-2" id = "default-blue" for="password">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="Password" id="password"/>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <a class="btn btn-default btn-block" id = "default-blue" onclick="login()" style="font-size: large">Login</a>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <a class="btn btn-default btn-block" id = "default-blue" href = "#register" style="font-size: large">Create an account</a>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </form>
</div>